.invitation {}


.schedule {
  font-family: 'Amatic SC', cursive;
  border: 2px solid white;
  margin: 1.5em auto;
  width: 90%;
  position: relative;
}

.schedule--dinner {
  background-image: url("/dinner.jpg");
  color: white;
}

.schedule--party {
  background-image: url("/party.jpg");
  color: white;
}

.schedule--open {
  background-image: url("/open.jpg");
  color: white;
}

  .schedule__pre {
    text-align: center;
    font-size: 1.6em;
    margin-top: .6em;
  }

  .schedule__title {
    text-align: center;
    font-size: 2.4em;
    margin-bottom: .5em;
  }

  .schedule__quest {
    display: inline-block;
    font-size: 1.2em;
    padding-left: .5em;
    margin-bottom: .8em;
  }

  .schedule__ans {
    display: inline;
    font-size: 1.1em;
    padding-left: .5em;
  }


.signed-user-list {
  font-family: 'Amatic SC', cursive;
  list-style: none;
  display: flex;
  padding-left: 3em;
  flex-wrap: wrap;
  margin-top: -1em;
  margin-bottom: 1em;
}

  .signed-user-list li {
    flex: 1 50%;
    text-align: center;
    padding: .8em 0;
  }

    .signed-user-list h6 {
      font-size: 1.15em;
    }


.open-user-list {
  font-family: 'Amatic SC', cursive;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -1.5em;
  margin-bottom: 1em;
}

  .open-user-list li {
    flex: 1 40%;
    text-align: center;
    margin: 1em;
    border: 2px solid white;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    .open-user-list h6 {
      padding-left: 1em;
      font-size: 1.15em;
    }

    .open-user-list button {
      background-color: transparent;
      border: none;
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      padding: .3em;
    }

      .open-user-list i {
        color: white;
      }


@media (min-width: 768px){
  .invitation {
    font-size: 1.4em;
  }

  .schedule {
    width: 75%;
  }

  .signed-user-list li {
    flex: 1 33%;
  }

  .open-user-list li {
    flex: 1 25%;
  }
}
