/* === Color Scheme === */
/*
#393363
#005685
#009051
#D30044
#700069
*/


/* === Confirmation Modal === */
.modal-overlay{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal {
  background-color: #005685;
  width: 90%;
  height: 90%;
  margin: 20px auto;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-family: 'Amatic SC', cursive;
  color: white;
  border-radius: 5px;
  border: white solid 2px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.modal > input {
  border-radius: 10px;
  padding: 6px 12px;
}

.modal > div {
  margin: 10px;
}

.modal > button {
  margin: 20px;
  margin-top: 35px;
  background-color: #005685;
  border: 1px solid white;
  color: white;
  padding: 20px 15px;
  border-radius: 60px;
  width: inherit;
  align-self: flex-end;
  font-size: 17px;
}

.modal button:hover, .modal button:focus {
  color: #005685;
  background-color: white;
}

.checkbox-container{
  width: 80%;
}

.checkbox {
  cursor: pointer;
  margin: 10px 0px;
  border: 2px white solid;
  border-radius: 10px;
  text-align: center;
}

.checked {
  background-color: #009051
}

.modal .error-message {
  color: #D30044;
  font-family: monospace;
  font-weight: bold;
}

.close-modal {
  align-self: flex-end;
  padding-right: 20px;
  padding-top: 15px;
}
