/* === Color Scheme === */
/*
#393363
#005685
#009051
#D30044
#700069
*/

/* === Welcome section === */
.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  font-family: 'Amatic SC';
  font-weight: 400;
  font-size: 1.6em;
}

.welcome > h3 {
  margin-top: 0px;
}

.bg-img {
  background: url(./images/background.jpeg) no-repeat;;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -100;
  opacity: 0.6
}

.page-title {
  color: #393363;
  text-align: center;
  margin: 1rem 0;
}

#faces {
  max-width: 80%;
  max-height: 200px;
  border: solid 5px white;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}
